body{
    background-color: #dedede;
    height:auto;
}


/* Mensagem do sistema*/
/*
md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content{
    background-color: transparent;
    color: #333;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}
md-toast.ng-scope._md.md-md-danger-theme-theme.md-top.md-left.md-right{
    background-color: #FF0004;
    color: #a94442;
    margin: 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
md-toast.ng-scope._md.md-md-danger-theme-theme.md-bottom{
    background-color: #FF0004;
    color: #a94442;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
md-toast.ng-scope._md.md-md-warning-theme-theme.md-top.md-left.md-right{
    background-color: #fcf8e3;
    color: #fff;
    margin: 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
md-toast.ng-scope._md.md-md-warning-theme-theme.md-bottom{
    background-color: #fcf8e3;
    color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
md-toast.md-default-theme .md-toast-content .md-button.md-highlight, md-toast .md-toast-content .md-button.md-highlight{
    color: #fff;
}
md-toast.ng-scope._md.md-md-success-theme-theme.md-top.md-left.md-right{
    background-color: rgb(139,195,74);
    color: #fff;
    margin: 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
md-toast.ng-scope._md.md-md-success-theme-theme.md-bottom{
    background-color: rgb(139,195,74);
    color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
md-toast.md-top{
    position: fixed;
    margin: 5px;
    background-color:#fcf8e3;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
md-toast.ng-scope._md.md-md-danger-theme-theme.md-bottom{

}
/*
/* Mensagem do sistema*/


.padding-auto{
    margin-bottom:40px;
}
.logo-padding-left{
    padding-left: 20px;
}
.cabecalho-logo-menuh{
    width: 80%;
    margin: 0 auto;
}
.error404 h2{
    color: #333
}
.text-center{
    text-align: center;
}
.error404 h2 i{
    font-sigruze: 40px;
    padding: 10px;
    background: #fff;
    border-radius: 40px;
    border: 4px solid rgb(124,179,66);;
    color: rgb(124,179,66);
}
.header-info{
    background: #f8f8f8;
    border-bottom: 2px solid rgb(139,195,74);
    font-size:13px;
}
.md-conteudo{
    padding-top: 30px;
}
.conteudo{
    margin-bottom: 20px;
}
.box{
    background: #fff;
}
.box dl dd{
    margin: 0;
}
.box dl dt{
    font-weight: bold;
}
.btn-action{
    color: #fff;
}
.action{
    background-color: #f8f8f8;
    border-right: 3px solid rgb(139,195,74)
}
.box-login{
    width: 400px;
    margin: 0 auto;
}
.fab-action-right{
    position: fixed;
    z-index: 58;
    right: 0;
    height:174px;
}
.logo-mtur{
    margin-top: -12px;
    position: absolute;
    z-index: 77;
    width: 171px;
}
.header-topo{
    background: url(img/bg-verde.jpg);
    min-height:48px;
}

#title .md-toolbar-tools{
    height:49px;
}
#title h1{
    color: #fff;
    padding: 0;
}
#title md-toolbar{
    height:50px;
    min-height:50px;
}
.md-toolbar-tools{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6dc238+0,5cb02c+100 */
    background: #6dc238; /* Old browsers */
    background: -moz-linear-gradient(top, #6dc238 0%, #5cb02c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #6dc238 0%,#5cb02c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #6dc238 0%,#5cb02c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dc238', endColorstr='#5cb02c',GradientType=0 ); /* IE6-9 */
    /*border-bottom: 1px solid #2b662a;*/
}
.menu-bar{
    background-color: #fff;
    box-shadow: 0px 2px 5px #ccc;
}
/*Menu bar*/
.menu-bar-item{
    padding: 12px 20px;
    font-size: 14px !important;
}
.menu-bar-item button{
    font-size: 14px !important;
}

@media only screen and (max-width: 960px) {
    .md-conteudo{
        padding-top: 17px;
    }
}
@media only screen and (min-width: 1920px) {


}
button.md-fab.md-mini.md-acoes.md-button.md-ink-ripple{
    background: transparent !important;
    box-shadow: none !important;
}
.md-acoes md-icon.ng-scope.material-icons{
    color:#fff;
}
.panel{
    margin: 10px;
    border: 1px solid #d2d2d2;
}
.panel-body{
    margin: 10px;
}
.panel-title{
    text-align: center;
    padding: 8px 0;
    margin: 0;
}
.panel-title h3{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.bg-panel-default{
    background-color: #f8f8f8;
    border-bottom: 2px solid rgb(139,195,74);
}
.item-menu span.ng-scope {
    margin: 0px;
    display: block;
}
/*EDIÇÃO DE TEXTAREA - COMPONENTE*/
.btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button.btn.btn-default {
    border: 1px solid rgb(139,195,74);
    margin: 0 4px;
    color: #333;
    cursor: pointer;
}
div#toolbarWC,div#toolbarCC {
    border: 1px solid rgb(139,195,74);
    margin: 0 4px;
}
button.btn.btn-default:hover {
    border: 1px solid rgb(139,195,74);
    background-color: rgb(139,195,74);
    margin: 0 4px;
    color: #fff;
}
.ta-scroll-window > .ta-bind {
    border: 1px solid rgba(0,0,5,0.12);
    background-color: #f8f8f8;
}
.ta-scroll-window > .ta-bind:focus {
    border-bottom: 2px solid rgb(139,195,74);
}
.ng-scope.ng-isolate-scope.ta-toolbar.btn-toolbar {
    background: #f8f8f8;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.toolbar-edit-textarea{
    color: #fff;
    margin: 0;
    font-size: 20px;
    padding: 9px;
    background-color: #8bc34a;
}

.hidden{
    display: none !important;
}
.colorpicker{
    min-width: 121px;
}
.colorpicker-selectors {
    display: none;
    height: 10px;
    margin-top: 5px;
    clear: both;
    margin-bottom:14px;
}

.colorpicker-selectors i {
    cursor: pointer;
    float: left;
    height: 10px;
    padding: 2px;
    width: 10px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button.close.close-colorpicker {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}
.colorpicker.dropdown.ng-scope.colorpicker-position-bottom.colorpicker-visible {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
md-input-container:not(.md-input-has-value) input:not(:focus), md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text{
    color: rgba(0,0,0,0.87) !important;
}
.md-chips .md-chip-input-container md-autocomplete input {
    margin-top: -2px;
}
/*CSS HELP*/
.largura-help{
    width: 100%;
}

.pequena-largura-help{
    width: 45%;
}

.aviso-help{
    color:#ef5252;
    background: rgba(210, 210, 210, 0.36);
    padding: 15px;
}
/*Pointe na ordenação*/
paginacao-sorting.ng-isolate-scope {
    cursor: pointer;
}
/*USER*/
.info-user, .info-user button.md-button.md-ink-ripple {
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
}
/*ALERTAS DO SISTEMA*/
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #ffffff;
    background-color: #FF0004;
    border-color: #ebccd1;
}