<div id="title">
    <md-toolbar class=" md-toolbar-tools">
        <h1 class="md-toolbar-tools">
            {{vm.title}}
        </h1>
    </md-toolbar>
</div>
<md-content class="box">
    <div class="md-padding header-info" layout="row" layout-xs="column"  layout-align="end center">
        <strong>Autoridade: &nbsp;</strong> {{vm.autoridade}}
    </div>
<!-- TELA DE CADASTRO -->
    <div class="md-padding">

        <form name="formReuniao" ng-submit="vm.salvar()">
            <!-- conteudo -->

            <div layout="row" layout-xs="column">
                <md-input-container flex>
                    <label>
                        Data inicial
                    </label>
                    <input mdc-datetime-picker date="true" time="true" type="text" short-time="true"
                            min-date="minDate"
                            name="dataInicial"
                            format="DD/MM/YYYY HH:mm a"
                            ng-model="vm.reuniao.dataInicio" required>
                    <custom-validator-messages input-name="dataInicial" ></custom-validator-messages>
                </md-input-container>
                <md-input-container flex>
                    <label>
                        Data final
                    </label>
                    <input mdc-datetime-picker date="true" time="true" type="text" short-time="true"
                            min-date="minDate"
                            name="dataFim"
                            format="DD/MM/YYYY HH:mm a"
                            ng-model="vm.reuniao.dataFim" required>
                    <custom-validator-messages input-name="dataFim" ></custom-validator-messages>
                </md-input-container>
                <md-input-container flex>
                    <label>
                        Data de cadastro
                    </label>
                    <input mdc-datetime-picker date="true" time="true" type="text" short-time="true"
                            min-date="minDate"
                            name="dataCadastramento"
                            format="DD/MM/YYYY HH:mm a"
                            ng-model="vm.reuniao.dataCadastramento" required>
                    <custom-validator-messages input-name="dataCadastramento" ></custom-validator-messages>
                </md-input-container>
            </div>
            <md-input-container class="md-icon-float md-block padding-auto" flex>
                <md-chips
                          flex
                          ng-model="vm.usuarios"
                          md-transform-chip="vm.transformChip($chip)"
                          md-require-match="true">
                      <md-autocomplete
                          md-selected-item="vm.selectedItem"
                          md-search-text="vm.searchText"
                          md-items="item in vm.querySearch(vm.searchText)"
                          md-item-text="item.name"
                          md-floating-label="Vincular participante">
                        <span md-highlight-text="searchText">{{item.name}}</span>
                      </md-autocomplete>
                      <md-chip-template>
                        <span>{{$chip.name}}</span>
                      </md-chip-template>
                </md-chips>
            </md-input-container>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex flex-xs="100">
                    <label>
                        Despacho
                    </label>
                    <textarea ng-model="vm.reuniao.despacho" md-maxlength="150" maxlength="150" rows="3" md-select-on-focus>
                    </textarea>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                 <md-input-container flex flex-xs="100">
                    <label>
                        Local  da reunião
                    </label>
                    <textarea ng-model="vm.reuniao.localReuniao" rows="3" md-maxlength="150" maxlength="150" required md-select-on-focus>
                    </textarea>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container>
                    <h3 class="toolbar-edit-textarea">
                    	Assunto
                    </h3>
                <div text-angular ng-model="vm.reuniao.assunto" layout="column" required name="assunto"></div>
                <custom-validator-messages input-name="assunto" ></custom-validator-messages>
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container>
                    <h3 class="toolbar-edit-textarea">
                    	Pauta da reunião
                    </h3>
                    <div text-angular ng-model="vm.reuniao.pautaReuniao" layout="column" required name="pautaReuniao"></div>
                    <custom-validator-messages input-name="pautaReuniao" ></custom-validator-messages>
                </md-input-container>
            </div>
            <section class="md-padding action" layout="row" layout-align="end center"
            layout-wrap>
                <md-button class="md-raised md-primary" ng-disabled="vm.showBtnSalvar()" type="submit">
                    <md-icon>
                        &#xE161;
                    </md-icon>
                    Salvar
                </md-button>
                <md-button class="md-raised" ng-click="vm.limpar()">
                    <md-icon>
                        &#xE5D5;
                    </md-icon>
                    Limpar
                </md-button>
                <md-button class="md-raised" ui-sref="app.public.home.pagina-inicial">
                    <md-icon>
                        &#xE5CD;
                    </md-icon>
                    Cancelar
                </md-button>
            </section>
        </form>
    </div>
    <!-- TELA DE CADASTRO -->
</md-content>
