<div id="title">
    <md-toolbar class=" md-toolbar-tools">
        <h1 class="md-toolbar-tools">
            {{vm.title}}
        </h1>
    </md-toolbar>
</div>
<md-content class="box">
    <div class="md-padding header-info" layout="row" layout-xs="column"  layout-align="end center">
        <strong>Autoridade: &nbsp;</strong> {{vm.autoridade}}
    </div>
    <!-- TELA DE BUSCA -->
    <div class="md-padding">
        <form name="formPesquisaReuniao">
            <!-- conteudo -->
            <div layout="row" layout-xs="column"  layout-align="space-around center">
                <div flex="50" flex-xs="100">
                    <div class="panel">
                        <div class="panel-title bg-panel-default">
                            <h3>
                                Data da reunião
                            </h3>
                        </div>
                        <div class="panel-body">
                          <div layout-gt-xs="row">
                                <md-input-container flex-gt-xs>
                                  <label>
                                      Data inicial
                                  </label>
                                  <input mdc-datetime-picker ng-disabled="!vm.filtro.dataCadInicial === false" date="true" time="true" type="text" short-time="true"
                                          min-date="minDate"
                                          format="DD/MM/YYYY HH:mm a"
                                          ng-model="vm.filtro.dtInicioEvento">
                                </md-input-container>

                                <md-input-container>
                                  <label>
                                      Data final
                                  </label>
                                  <input mdc-datetime-picker ng-disabled="!vm.filtro.dataCadInicial === false" date="true" time="true" type="text" short-time="true"
                                          min-date="minDate"
                                          format="DD/MM/YYYY HH:mm a"
                                          ng-model="vm.filtro.dtFimEvento">
                                </md-input-container>
                          </div>
                        </div>
                    </div>
                </div>
                <div flex="50" flex-xs="100">
                    <div class="panel ">
                        <div class="panel-title bg-panel-default">
                            <h3>
                                Data do cadastro
                            </h3>
                        </div>
                        <div class="panel-body">
                          <div layout-gt-xs="row">
                                <md-input-container flex-gt-xs>
                                  <label>
                                      Data inicial
                                  </label>
                                  <input mdc-datetime-picker ng-disabled="!vm.filtro.dtInicioEvento === false" date="true" time="true" type="text" short-time="true"
                                          min-date="minDate"
                                          format="DD/MM/YYYY HH:mm a"
                                          ng-model="vm.filtro.dataCadInicial">
                                </md-input-container>
                                <md-input-container>
                                  <label>
                                      Data final
                                  </label>
                                  <input mdc-datetime-picker ng-disabled="!vm.filtro.dtInicioEvento === false" date="true" time="true" type="text" short-time="true"
                                          min-date="minDate"
                                          format="DD/MM/YYYY HH:mm a"
                                          ng-model="vm.filtro.dataCadFinal">
                                </md-input-container>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div layout="row" class="padding-auto">
                <md-chips ng-model="vm.participantes" flex="100"
                          md-transform-chip="vm.transformChip($chip)"
                          md-require-match="true">
                    <md-autocomplete
                            md-selected-item="vm.selectedItem"
                            md-search-text="vm.searchText"
                            md-items="item in vm.querySearch(vm.searchText)"
                            md-item-text="item.noParticipanteInterno"
                            md-min-length="3"
                            md-floating-label="Participante">
                        <span md-highlight-text="searchText">{{item.noParticipanteInterno}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>{{$chip.noParticipanteInterno}}</span>
                    </md-chip-template>
                </md-chips>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex flex-xs="100">
                    <label>
                        Despacho
                    </label>
                    <textarea ng-model="vm.filtro.noDespacho" md-maxlength="150" maxlength="150" rows="3" md-select-on-focus>
                    </textarea>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                 <md-input-container flex flex-xs="100">
                    <label>
                        Local  da reunião
                    </label>
                    <textarea ng-model="vm.filtro.noLocalEvento" rows="3" md-maxlength="150" maxlength="150" md-select-on-focus>
                    </textarea>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container flex flex-xs="100">
                    <label>
                        Assunto
                    </label>
                    <textarea ng-model="vm.filtro.noAssunto" rows="3" md-maxlength="255" maxlength="255" md-select-on-focus>
                    </textarea>
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container class="md-block" flex-xs="100">
                    <label>
                        Pauta da reunião
                    </label>
                    <textarea ng-model="vm.filtro.noPauta" md-maxlength="255" maxlength="255" rows="3" md-select-on-focus>
                    </textarea>
                </md-input-container>
            </div>
            <!-- footer button-->
            <section class="md-padding action" layout="row" layout-align="end center"
            layout-wrap>
                <md-button class="md-raised md-primary" ng-click="vm.pesquisar()">
                    <md-icon>
                        &#xE8B6;
                    </md-icon>
                    Pesquisar
                </md-button>
                <md-button class="md-raised" ng-click="vm.limpar()">
                    <md-icon>
                        &#xE5D5;
                    </md-icon>
                    Limpar
                </md-button>
                <md-button class="md-raised" ui-sref="app.private.home.pagina-inicial">
                    <md-icon>
                        &#xE5CD;
                    </md-icon>
                    Cancelar
                </md-button>
            </section>
            <!-- footer button-->
        </form>
    </div>
    <!-- resultado da busca -->
    <div id="result-pesquisa" class="md-padding" ng-if="vm.dto.list.length > 0">
        <div class="table-responsive-vertical shadow-z-1">
            <!-- Table starts here -->
            <table id="table" class="table table-hover table-mc-green">
                <thead>
                    <tr>
                        <th class="text-center">
                            Ações
                        </th>
                        <th>
                            Data da reunião <paginacao-sorting dto="vm.dto" field-name="dataReuniao"></paginacao-sorting>
                        </th>
                        <th>
                            Data de cadastro<paginacao-sorting dto="vm.dto" field-name="dataCadastro"></paginacao-sorting>
                        </th>
                        <th>
                            Local da reunião<paginacao-sorting dto="vm.dto" field-name="localReuniao"></paginacao-sorting>
                        </th>
                        <th>
                            Pauta da reunião<paginacao-sorting dto="vm.dto" field-name="pautaReuniao"></paginacao-sorting>
                        </th>
                        <th>
                            Assunto<paginacao-sorting dto="vm.dto" field-name="assunto"></paginacao-sorting>
                        </th>

                    </tr>
                </thead>
                <tbody>

                    <tr dir-paginate="item in vm.dto.list | itemsPerPage: vm.dto.pageSize" current-page="vm.dto.currentPage" total-items="vm.dto.totalResults">
                        <td class="text-center">
                            <md-menu>
                              <md-button class="md-icon-button" aria-label="Favorite" ng-click="appCtrl.openMenu($mdOpenMenu, $event)">
                                <md-tooltip md-direction="left">
                                    Ações
                                </md-tooltip>
                                   <md-icon class="icon-white">&#xE8B8;</md-icon>
                              </md-button>
                                <md-menu-content width="1">
                                    <md-menu-item>
                                        <md-button ng-click="vm.emitir()" title="{{item.nome}}">
                                            <md-icon>
                                                &#xE896;
                                            </md-icon>
                                            Emitir lista
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.editar(item)" title="{{item.nome}}">
                                            <md-icon>
                                                &#xE22B;
                                            </md-icon>
                                            Editar
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="showConfirm($event,item)">
                                            <md-icon>
                                                &#xE92B;
                                            </md-icon>
                                            Remover
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                            <td>{{ item.dtInicioEvento | date : 'dd/MM/yyyy HH:mm a' }} à {{ item.dtFimEvento | date : 'dd/MM/yyyy HH:mm a' }}</td>
                            <td>{{ item.dtCadastro | date : 'dd/MM/yyyy HH:mm a'}}</td>
                        <td>
                            {{ item.noLocalEvento }}
                        </td>
                        <td ta-bind ng-model="item.noPauta">
                            {{ item.noPauta }}
                        </td>
                        <td ta-bind ng-model="item.noAssunto">
                            {{ item.noAssunto }}
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <dir-pagination-controls layout layout-align="center" boundary-links="true" on-page-change="vm.changePage(newPageNumber)" template-url="modules/core/directives/paginacao/paginacao-view.html" layout-align="center center" class="dir-pagination-controls">
        </dir-pagination-controls>
        <!-- tabela css angular material -->
    </div>
    <!-- resultado da busca -->
    <!-- TELA DE BUSCA -->
</md-content>
