<div>
    <md-menu>
        <md-button class="md-icon-button" data-ng-click="abrirMenuNotificacao($mdOpenMenu, $event)">
            <i class="material-icons">&#xE7F4;</i>
            <span class="notificacao">12</span>
        </md-button>

        <md-menu-content width="2">
            <md-menu-item>
                <md-button>
                    Item Notificação 01
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button>
                    Item Notificação 02
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <md-menu>
        <md-button class="md-icon-button" data-ng-click="abrirMenuCaixa($mdOpenMenu, $event)">
            <i class="material-icons">&#xE0BE;</i>
            <span class="notificacao">12</span>
        </md-button>

        <md-menu-content width="2">
            <md-menu-item>
                <md-button>
                    Item da caixa 01
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button>
                    Item da caixa 02
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
