<div id="title">
    <md-toolbar class=" md-toolbar-tools">
        <h1 class="md-toolbar-tools">
            {{vm.title}}
        </h1>
    </md-toolbar>
</div>
<md-content class="box">
    <div class="md-padding">
        <form name="formAudiencia" ng-submit="vm.salvar()">
            <div layout="row" layout-xs="column">
                <md-input-container flex ng-if="!vm.isEdicao">
                    <label>
                        Data inicial
                    </label>
                    <md-datepicker name="dataInicial"  ng-model="vm.audiencia.dataInicio" required>
                    </md-datepicker>
                    <custom-validator-messages input-name="dataInicial" ></custom-validator-messages>
                </md-input-container>
                <md-input-container flex ng-if="!vm.isEdicao">
                    <label>
                        Data final
                    </label>
                    <md-datepicker name="dataFim"  ng-model="vm.audiencia.dataFim" required></md-datepicker>
                    <custom-validator-messages input-name="dataFim" ></custom-validator-messages>
                </md-input-container>
                <md-input-container flex>
                    <label>
                        Data de cadastro
                    </label>
                    <md-datepicker name="dataCadastramento" ng-model="vm.audiencia.dataCadastramento" required></md-datepicker>
                    <custom-validator-messages input-name="dataCadastramento" ></custom-validator-messages>
                </md-input-container>
            </div>
          <div layout-gt-xs="row">
              <md-input-container class="md-icon-float md-block" flex-gt-xs >
                <label>
                    Solicitante
                </label>
                <md-icon>
                    &#xE8A6;
                </md-icon>
                <input type="text" ng-model="vm.audiencia.solicitante" name="solicitante" required md-maxlength="50" maxlength="50"/>
              </md-input-container>
          </div>

            <div layout="row">
                <md-autocomplete
                      required
                      flex="50"
                      md-input-maxlength="150"
                      md-no-cache="true"
                      md-selected-item="vm.audiencia.usuario"
                      md-input-name="usuario"
                      md-search-text="vm.textoUsuario"
                      md-items="item in vm.procurarUsuario(vm.textoUsuario)"
                      md-item-text="item.usuario"
                      md-min-length="1"
                      md-floating-label="Vincular participante">
                    <md-item-template>
                      <span md-highlight-text="vm.textoUsuario" md-highlight-flags="^i">{{item.usuario}}</span>
                    </md-item-template>
                    <md-not-found>
                      Nenhum usuário "{{vm.textoUsuario}}" foi encontrado
                    </md-not-found>
                    <custom-validator-messages input-name="usuario" ></custom-validator-messages>
                </md-autocomplete>
                  <md-input-container class="md-icon-float md-block" flex>
                      <label>
                          Vincular autoridade
                      </label>
                      <md-icon>
                          &#xE8A6;
                      </md-icon>
                      <md-select name="autoridade" ng-model="vm.audiencia.autoridade" required>
                          <md-option ng-repeat="item in vm.listaAutoridades" value="{{item.autoridade}}">
                              {{item.autoridade}}
                          </md-option>
                      </md-select>
                      <custom-validator-messages input-name="autoridade" ></custom-validator-messages>
                  </md-input-container>
            </div>
            <div layout-gt-xs="row">
              <md-autocomplete
                    required
                    flex
                    md-input-maxlength="150"
                    md-no-cache="true"
                    md-selected-item="vm.audiencia.localEvento"
                    md-input-name="local"
                    md-search-text="vm.textoLocal"
                    md-items="item in vm.procurarLocal(vm.textoLocal)"
                    md-item-text="item.local"
                    md-min-length="1"
                    md-floating-label="Local da audiência">
                  <md-item-template>
                    <span md-highlight-text="vm.textoLocal" md-highlight-flags="^i">{{item.local}}</span>
                  </md-item-template>
                  <md-not-found>
                    Nenhum local de evento "{{vm.textoLocal}}" foi encontrado
                  </md-not-found>
                </md-autocomplete>
              </div>
            <md-input-container>
                <h3 class="toolbar-edit-textarea">
                	Assunto
                </h3>
                <div text-angular ng-model="vm.audiencia.assunto" layout="column" required name="textDescricao"></div>
                <custom-validator-messages input-name="textDescricao" ></custom-validator-messages>
            </md-input-container>
            <md-input-container>
                <h3 class="toolbar-edit-textarea">
                	Observação
                </h3>
                <div text-angular ng-model="vm.audiencia.observacao" layout="column" required name="txaObservacao"></div>
                <custom-validator-messages input-name="txaObservacao" ></custom-validator-messages>
            </md-input-container>
            <div class="row">
                <md-input-container class="md-block" flex-xs="100">
                    <label>
                        Despacho
                    </label>
                    <textarea ng-model="vm.audiencia.despacho" md-maxlength="150" rows="3" md-select-on-focus>
                    </textarea>
                </md-input-container>
            </div>
            <section class="md-padding action" layout="row" layout-align="end center"
            layout-wrap>
                <md-button class="md-raised md-primary" ng-disabled="vm.showBtnSalvar()" type="submit">
                    <md-icon>
                        &#xE161;
                    </md-icon>
                    Salvar
                </md-button>
                <md-button class="md-raised" ng-click="vm.limpar()">
                    <md-icon>
                        &#xE5D5;
                    </md-icon>
                    Limpar
                </md-button>
                <md-button class="md-raised" ui-sref="app.public.home.pagina-inicial">
                    <md-icon>
                        &#xE5CD;
                    </md-icon>
                    Cancelar
                </md-button>
            </section>
        </form>
    </div>
    <!-- TELA DE CADASTRO -->
  </md-content>
