<div id="title">
    <md-toolbar class=" md-toolbar-tools">
        <h1 class="md-toolbar-tools">
            {{vm.title}}
        </h1>
    </md-toolbar>
</div>
<md-content class="box">
    <div class="md-padding header-info" layout="row" layout-xs="column" layout-align="end center">
        <strong>Autoridade: &nbsp;</strong> {{vm.autoridade.noAutoridade}}
    </div>
    <div class="md-padding">
        <form name="formAudiencia" ng-submit="vm.salvar(vm.audiencia)">
            <div layout="row" layout-xs="column">
                <md-input-container flex ng-if="!vm.isEdicao">
                    <label>
                        Data inicial
                    </label>
                    <input mdc-datetime-picker date="true" time="true" type="text" short-time="true"
                           min-date="minDate"
                           required
                           name="dataInicial"
                           format="DD/MM/YYYY HH:mm a"
                           ng-model="vm.audiencia.dtInicioEvento">
                    <custom-validator-messages input-name="dataInicial"></custom-validator-messages>
                </md-input-container>
                <md-input-container flex ng-if="!vm.isEdicao">
                    <label>
                        Data final
                    </label>
                    <input mdc-datetime-picker date="true" time="true" type="text" short-time="true"
                           min-date="minDate"
                           required
                           name="dataFim"
                           format="DD/MM/YYYY HH:mm a"
                           ng-model="vm.audiencia.dtFimEvento">
                    <custom-validator-messages input-name="dataFim"></custom-validator-messages>
                </md-input-container>
                <md-input-container flex>
                    <label>
                        Data de cadastro
                    </label>
                    <input mdc-datetime-picker date="true" time="true" type="text" short-time="true"
                           min-date="minDate"
                           required
                           name="dataCadastramento"
                           format="DD/MM/YYYY HH:mm a"
                           ng-model="vm.audiencia.dtCadastro">
                    <custom-validator-messages input-name="dataCadastramento"></custom-validator-messages>
                </md-input-container>
            </div>

            <md-input-container class="md-icon-float md-block" flex>
                <md-autocomplete
                        flex
                        required
                        md-input-name="remetente"
                        md-no-cache="true"
                        md-selected-item="vm.remetente"
                        md-input-name="local"
                        md-search-text="noRemetente"
                        md-items="item in vm.buscarRemetentePeloNome(noRemetente)"
                        md-item-text="item.noRemetente"
                        md-min-length="3"
                        md-match-case-insensitive="true"
                        md-input-maxlength="150"
                        md-floating-label="Solicitante">
                    <md-item-template>
                        <span md-highlight-text="noRemetente" md-highlight-flags="^i">{{item.noRemetente}}</span>
                    </md-item-template>
                    <md-not-found>
                        Nenhum usuário "{{noRemetente}}" foi encontrado
                    </md-not-found>
                    <custom-validator-messages input-name="usuario" ></custom-validator-messages>
                </md-autocomplete>
            </md-input-container>
            <md-input-container class="md-icon-float md-block padding-auto" flex>
                <md-chips
                        flex
                        ng-model="vm.participantes"
                        md-transform-chip="vm.transformChip($chip)"
                        md-on-remove="vm.removeParticipante($chip)"
                        md-require-match>
                    <md-autocomplete
                            ng-required="vm.participantes.length == 0 "
                            md-selected-item="vm.selectedItem"
                            md-search-text="vm.noParticipanteExterno"
                            md-items="item in vm.buscaParticipanteExterno(vm.noParticipanteExterno)"
                            md-item-text="item.noParticipanteExterno"
                            md-min-length="3"
                            md-floating-label="Vincular participante">
                        <span md-highlight-text="searchText">{{item.noParticipanteExterno}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>{{$chip.noParticipanteExterno}}</span>
                    </md-chip-template>
                </md-chips>
            </md-input-container>
            <md-input-container class="md-icon-float md-block" flex>
                <md-autocomplete
                        flex
                        md-no-cache="true"
                        md-input-maxlength="150"
                        md-selected-item="vm.localidade"
                        md-input-name="noLocalidade"
                        md-search-text="nomeLocal"
                        md-items="item in vm.procurarLocal(nomeLocal)"
                        md-item-text="item.localidadesUf"
                        md-min-length="3"
                        md-floating-label="Local da audiência">
                    <md-item-template>
                        <span md-highlight-text="nomeLocal" md-highlight-flags="^i">{{item.localidadesUf}}</span>
                    </md-item-template>
                    <md-not-found>
                        Nenhum local de evento "{{nomeLocal}}" foi encontrado
                    </md-not-found>
                </md-autocomplete>
            </md-input-container>
            <div class="row">
                <md-input-container class="md-block" flex-xs="100">
                    <label>
                        Despacho
                    </label>
                    <textarea ng-model="vm.audiencia.noDespacho" md-maxlength="150" rows="3" md-select-on-focus>
                    </textarea>
                </md-input-container>
            </div>
            <md-input-container>
                <h3 class="toolbar-edit-textarea">
                    Assunto
                </h3>
                <div text-angular ng-model="vm.audiencia.noAssunto" layout="column" required name="textDescricao"></div>
                <custom-validator-messages input-name="textDescricao"></custom-validator-messages>
            </md-input-container>
            <md-input-container>
                <h3 class="toolbar-edit-textarea">
                    Observação
                </h3>
                <div text-angular ng-model="vm.audiencia.noObservacao" layout="column" required
                     name="txaObservacao"></div>
                <custom-validator-messages input-name="txaObservacao"></custom-validator-messages>
            </md-input-container>

            <section class="md-padding action" layout="row" layout-align="end center"
                     layout-wrap>
                <md-button class="md-raised md-primary" ng-disabled="vm.showBtnSalvar()" type="submit">
                    <md-icon>
                        &#xE161;
                    </md-icon>
                    Salvar
                </md-button>
                <md-button class="md-raised" ng-click="vm.limpar()">
                    <md-icon>
                        &#xE5D5;
                    </md-icon>
                    Limpar
                </md-button>
                <md-button class="md-raised" ui-sref="app.public.home.pagina-inicial">
                    <md-icon>
                        &#xE5CD;
                    </md-icon>
                    Cancelar
                </md-button>
            </section>
        </form>
    </div>
    <!-- TELA DE CADASTRO -->
</md-content>