<div layout="row">
    <div class="box-login">
        <div id="title">
            <md-toolbar class=" md-toolbar-tools">
                <h1 class="md-toolbar-tools">Acesso ao sistema</h1>
            </md-toolbar>
        </div>
        <md-content layout="column" class="md-padding">
            <form name="formLogin">
                <md-input-container flex class="md-icon-float md-block">
                    <label>
                        Login
                    </label>
                    <md-icon>&#xE8A6;</md-icon>
                    <input type="text" name="login" md-maxlength="20" ng-model="item.login" required/>
                    <div ng-messages="formLogin.login.$error">
                        <div ng-message="required">Campo obrigatório</div>
                        <div ng-message="md-maxlength">Mínimo ou igual à 20 caracter</div>
                    </div>
                </md-input-container>
                <md-input-container flex class="md-icon-float md-block">
                    <label>
                        Senha
                    </label>
                    <md-icon>&#xE0DA;</md-icon>
                    <input type="password" md-maxlength="60" name="senha" ng-model="item.senha" required/>
                    <div ng-messages="formLogin.senha.$error">
                        <div ng-message="required">Campo obrigatório</div>
                        <div ng-message="md-maxlength">Mínimo ou igual à 60 caracter</div>
                    </div>
                </md-input-container>
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" type="submit" ng-click="logar(item)" ng-disabled="!item.login.length > 0 || !item.senha.length > 0"
                        ui-sref="app.public.home.pagina-inicial">
                        Entrar
                    </md-button>
                </div>
            </form>
        </md-content>
    </div>
</div>
