<div id="title">
    <md-toolbar class=" md-toolbar-tools">
        <h1 class="md-toolbar-tools">
            {{vm.title}}
        </h1>
        <span flex></span>
        <md-button class="md-fab md-mini md-acoes" aria-label="Use Android" ng-click="vm.help($event)">
            <md-tooltip md-direction="left">
                Ajuda
            </md-tooltip>
            <md-icon>&#xE8FD;</md-icon>
        </md-button>
    </md-toolbar>
</div>
<md-content class="box">
<!-- TELA DE CADASTRO -->
    <div class="md-padding">

        <form name="formVincularAutoridade" ng-submit="vm.salvar()">
            <!-- conteudo -->
            <div layout="row">
                <md-autocomplete
                        flex
                        required

                        md-no-cache="true"
                        md-selected-item="vm.usuario"

                        md-search-text="noUsuario"
                        md-items="item in vm.procurarUsuario(noUsuario)"
                        md-selected-item-change="vm.vincularAutoridade(item)"
                        md-item-text="item.noUsuario"
                        md-min-length="3"
                        md-match-case-insensitive="true"
                        md-input-maxlength="150"
                        md-floating-label="Usuário"
                        md-delay="1000">
                    <md-item-template>
                        <span md-highlight-text="noUsuario" md-highlight-flags="^i">{{item.noUsuario}}</span>
                    </md-item-t emplate>
                    <md-not-found>
                        Nenhum usuário "{{noUsuario}}" foi encontrado
                    </md-not-found>
                    <custom-validator-messages input-name="usuario" ></custom-validator-messages>
                </md-autocomplete>
                <md-input-container flex class="md-icon-float md-block">
                    <label>
                        Autoridade
                    </label>
                    <md-icon>&#xE85E;</md-icon>
                    <md-select ng-model="vm.vincular.autoridade" name="email" required ng-disabled="!vm.usuario.noUsuario.length > 0">
                        <md-option ng-repeat="item in vm.listAutoridades" value="{{item}}" ng-selected="item.selected == true" >
                            {{item.noAutoridade}}
                        </md-option>
                    </md-select>
                    <custom-validator-messages input-name="autoridade" ></custom-validator-messages>
                </md-input-container>

            </div>
            <section class="md-padding action" layout="row" layout-align="end center"
            layout-wrap>
                <md-button class="md-raised md-primary" ng-disabled="vm.showBtnSalvar()" type="submit">
                    <md-icon>
                        &#xE161;
                    </md-icon>
                    Salvar
                </md-button>
                <md-button class="md-raised" ng-click="vm.limpar()">
                    <md-icon>
                        &#xE5D5;
                    </md-icon>
                    Limpar
                </md-button>
                <md-button class="md-raised" ui-sref="app.private.home.pagina-inicial">
                    <md-icon>
                        &#xE5CD;
                    </md-icon>
                    Cancelar
                </md-button>
            </section>
        </form>
    </div>
    <!-- TELA DE CADASTRO -->
</md-content>
