<div id="title">
    <md-toolbar class=" md-toolbar-tools">
        <h1 class="md-toolbar-tools">
            {{vm.title}}
        </h1>
        <span flex></span>
        <md-button class="md-fab md-mini md-acoes" aria-label="Use Android" ng-click="vm.help($event)">
            <md-tooltip md-direction="left">
                Ajuda
            </md-tooltip>
            <md-icon>&#xE8FD;</md-icon>
        </md-button>
    </md-toolbar>
</div>
<md-content class="box">
    <!-- TELA DE BUSCA -->
    <div class="md-padding">
        <form name="formPesquisaAutoridade">
            <div layout="row" layout-xs="column">
                <md-input-container flex="50" flex-xs="100" class="md-icon-float md-block">
                    <label>
                        Descrição da autoridade
                    </label>
                    <md-icon>&#xE8A6;</md-icon>
                    <input type="text" ng-model="vm.filtro.noAutoridade" name="desAutoridade" md-maxlength="50" maxlength="50"/>
                </md-input-container>
                <md-input-container flex class="md-icon-float md-block">
                    <label>
                        E-mail
                    </label>
                    <md-icon>&#xE0BE;</md-icon>
                    <input type="text" ng-model="vm.filtro.noEmail" md-maxlength="50" maxlength="50"/>
                </md-input-container>
            </div>
            <!-- footer button-->
            <section class="md-padding action" layout="row" layout-align="end center"
            layout-wrap>
                <md-button class="md-raised md-primary" ng-click="vm.pesquisar()">
                    <md-icon>
                        &#xE8B6;
                    </md-icon>
                    Pesquisar
                </md-button>
                <md-button class="md-raised" ng-click="vm.limpar()">
                    <md-icon>
                        &#xE5D5;
                    </md-icon>
                    Limpar
                </md-button>
                <md-button class="md-raised" ui-sref="app.public.home.pagina-inicial">
                    <md-icon>
                        &#xE5CD;
                    </md-icon>
                    Cancelar
                </md-button>
            </section>
            <!-- footer button-->
        </form>
    </div>
    <!-- resultado da busca -->
    <div id="result-pesquisa" class="md-padding" ng-show="vm.tbResultado">
        <div class="table-responsive-vertical shadow-z-1">
            <!-- Table starts here -->
            <table id="table" class="table table-hover table-mc-green">
                <thead>
                    <tr>
                        <th class="text-center">
                            Ações
                        </th>
                        <th>
                                Descrição da autoridade <paginacao-sorting dto="vm.dto" field-name="descAutoridade"></paginacao-sorting>
                        </th>
                        <th>
                            E-mail<paginacao-sorting dto="vm.dto" field-name="email"></paginacao-sorting>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="item in vm.dto.list | itemsPerPage: vm.dto.pageSize" current-page="vm.dto.currentPage" total-items="vm.dto.totalResults">
                        <td class="text-center">
                            <md-menu>
                              <md-button class="md-icon-button" aria-label="Favorite" ng-click="appCtrl.openMenu($mdOpenMenu, $event)">
                                <md-tooltip md-direction="left">
                                    Ações
                                </md-tooltip>
                                   <md-icon class="icon-white">&#xE8B8;</md-icon>
                              </md-button>
                                <md-menu-content width="1">
                                    <md-menu-item>
                                        <md-button ng-click="vm.editar(item)" title="{{item.noAutoridade}}">
                                            <md-icon>
                                                &#xE22B;
                                            </md-icon>
                                            Editar
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                        <td>
                            {{ item.noAutoridade }}
                        </td>
                        <td>
                            {{ item.noEmail }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <dir-pagination-controls layout layout-align="center" boundary-links="true" on-page-change="vm.changePage(newPageNumber)" template-url="modules/core/directives/paginacao/paginacao-view.html" layout-align="center center" class="dir-pagination-controls">
        </dir-pagination-controls>
        <!-- tabela css angular material -->
    </div>
    <!-- resultado da busca -->
    <!-- TELA DE BUSCA -->
</md-content>
