<div id="title">
    <md-toolbar class=" md-toolbar-tools">
        <h1 class="md-toolbar-tools">
            {{vm.title}}
        </h1>
        <span flex></span>
        <md-button class="md-fab md-mini md-acoes" aria-label="Use Android" ng-click="vm.help($event)">
            <md-tooltip md-direction="left">
                Ajuda
            </md-tooltip>
            <md-icon>&#xE8FD;</md-icon>
        </md-button>
    </md-toolbar>
</div>
<md-content class="box">
    <!-- TELA DE CADASTRO -->
    <div class="md-padding">

        <form name="formAutoridade" ng-submit="vm.salvar(vm.autoridade)">
            <!-- conteudo -->
            <div layout="row" layout-xs="column">
                <md-input-container flex="50" flex-xs="100" class="md-icon-float md-block">
                    <label>
                        Descrição da autoridade
                    </label>
                    <md-icon>&#xE8A6;</md-icon>
                    <input type="text" ng-model="vm.autoridade.noAutoridade" name="desAutoridade" md-maxlength="50" required maxlength="50"/>
                    <custom-validator-messages input-name="noAutoridade" ></custom-validator-messages>
                </md-input-container>
                <md-input-container flex class="md-icon-float md-block">
                    <label>
                        E-mail
                    </label>
                    <md-icon>&#xE0BE;</md-icon>
                    <input name="email" type="email" ng-model="vm.autoridade.noEmail" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" md-maxlength="50" maxlength="50"/>
                    <custom-validator-messages input-name="email" custom-message-pattern="Email inválido"></custom-validator-messages>

                </md-input-container>
            </div>
            <section class="md-padding action" layout="row" layout-align="end center"
                     layout-wrap>
                <md-button class="md-raised md-primary" ng-disabled="vm.showBtnSalvar()" type="submit">
                    <md-icon>
                        &#xE161;
                    </md-icon>
                    Salvar
                </md-button>
                <md-button class="md-raised" ng-click="vm.limpar()" ng-if="!vm.isEdicao">
                    <md-icon>
                        &#xE5D5;
                    </md-icon>
                    Limpar
                </md-button>
                <md-button class="md-raised" ui-sref="app.private.home.pagina-inicial">
                    <md-icon>
                        &#xE5CD;
                    </md-icon>
                    Cancelar
                </md-button>
            </section>
        </form>
    </div>
    <!-- TELA DE CADASTRO -->
</md-content>
