<div id="title">
    <md-toolbar class=" md-toolbar-tools">
        <h1 class="md-toolbar-tools">
            {{vm.title}}
        </h1>
    </md-toolbar>
</div>
<md-content class="box">
  <div class="md-padding header-info" layout="row" layout-align="end center">
    <strong>Autoridade: &nbsp;</strong> {{vm.autoridade}}
  </div>
  <div class="md-padding">
      <form name="formPesquisaRelatorioAudiencia">
          <!-- conteudo -->
          <div layout="row" layout-xs="column" >
            <md-input-container flex="50" flex-xs="100">
                <label>
                    Data inicial
                </label>
                <input mdc-datetime-picker date="true" time="true" type="text" short-time="true"
                        min-date="minDate"
                        format="DD/MM/YYYY HH:mm"
                        ng-model="vm.filtro.dataInicial">
            </md-input-container>
            <md-input-container flex>
                <label>
                    Data final
                </label>
                <input mdc-datetime-picker date="true" time="true" type="text" short-time="true"
                        min-date="minDate"
                        format="DD/MM/YYYY HH:mm"
                        ng-model="vm.filtro.dataFinal">
            </md-input-container>
          </div>
          <div layout="row" layout-xs="column">
              <md-input-container flex="50" flex-xs="100" class="md-icon-float md-block">
                  <label>
                      Solicitante
                  </label>
                  <md-icon>
                      &#xE8A6;
                  </md-icon>
                  <input name="solicitante" type="text" ng-model="vm.filtro.solicitante" md-maxlength="50"
                  />
                  <div ng-messages="formPesquisaAudiencia.solicitante.$error">
                      <div ng-message="md-maxlength">
                          Mínimo ou igual à 50 caracter
                      </div>
                  </div>
              </md-input-container>
              <md-input-container flex class="md-icon-float md-block">
                  <label>
                      Cargo solicitante
                  </label>
                  <md-icon>&#xE8F8;</md-icon>
                  <input name="cargoSolicitante" type="text" ng-model="vm.filtro.cargoSolicitante" md-maxlength="50"
                  />
                  <div ng-messages="formPesquisaAudiencia.cargoSolicitante.$error">
                      <div ng-message="md-maxlength">
                          Mínimo ou igual à 50 caracter
                      </div>
                  </div>
              </md-input-container>
          </div>
          <div layout="row" layout-align="start">
              <md-checkbox ng-model="myForm.$invalid">Inverter cargo solicitante</md-checkbox>
          </div>
          <div layout="row" layout-xs="column">
              <md-autocomplete
                    flex
                    flex-xs="100"
                    md-no-cache="true"
                    md-selected-item="vm.filtro.selectedItem"
                    md-input-name="local"
                    md-search-text="vm.textoLocal"
                    md-items="item in vm.procurarLocal(vm.textoLocal)"
                    md-item-text="item.local"
                    md-min-length="1"
                    md-input-maxlength="150"
                    md-floating-label="Local do evento">
                  <md-item-template>
                    <span md-highlight-text="vm.textoLocal" md-highlight-flags="^i">{{item.local}}</span>
                  </md-item-template>
                  <md-not-found>
                    Nenhum local de evento "{{vm.textoLocal}}" foi encontrado
                  </md-not-found>
              </md-autocomplete>
              <md-input-container class="md-icon-float md-block" flex>
                  <label>
                      Validado
                  </label>
                  <md-icon>
                      &#xE834;
                  </md-icon>
                  <md-select ng-model="vm.filtro.validado" md-maxlength="255" maxlength="255">
                      <md-option ng-repeat="item in listaConvites" value="{{item.validado}}">
                          {{item.validado}}
                      </md-option>
                  </md-select>
              </md-input-container>
          </div>
          <div layout="row" layout-xs="column">
              <md-input-container flex="50" flex-xs="100" class="md-block">
                  <label>
                      Observação
                  </label>
                  <textarea ng-model="vm.filtro.observacao" rows="3" md-maxlength="255" maxlength="255" md-select-on-focus>
                  </textarea>
              </md-input-container>
              <md-input-container class="md-block" flex flex-xs="100">
                  <label>
                      Despacho
                  </label>
                  <textarea ng-model="vm.filtro.despacho" md-maxlength="150" maxlength="150" rows="3" md-select-on-focus>
                  </textarea>
              </md-input-container>
          </div>
          <div class="row">
              <md-input-container class="md-block" flex-xs="100">
                  <label>
                      Assunto
                  </label>
                  <textarea ng-model="vm.filtro.assunto" md-maxlength="255" maxlength="255" rows="3" md-select-on-focus>
                  </textarea>
              </md-input-container>
          </div>
          <div layout-gt-sm="row">
              <md-input-container class="md-block md-icon-float" flex-gt-sm>
                <label>Tipo de saída</label>
                <md-icon>
                    &#xE873;
                </md-icon>
                <md-select ng-model="vm.filtro.tipoSaida">
                  <md-option ng-repeat="item in vm.tiposSaida" value="{{item.tipo}}">
                    {{item.tipo}}
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container class="md-block md-icon-float" flex-gt-sm>
                <label>Ordenação</label>
                <md-icon>
                    &#xE152;
                </md-icon>
                <md-select ng-model="vm.filtro.ordenacao">
                  <md-option ng-repeat="item in vm.ordenacoes" value="{{item.ordenacao}}">
                    {{item.ordenacao}}
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container class="md-block md-icon-float" flex-gt-sm>
                <label>Direção da ordenação</label>
                <md-icon>
                    &#xE152;
                </md-icon>
                <md-select ng-model="vm.filtro.direcao">
                  <md-option ng-repeat="item in vm.direcoes" value="{{item.direcao}}">
                    {{item.direcao}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          <!-- footer button-->
          <section class="md-padding action" layout="row" layout-align="end center"
          layout-wrap>
              <md-button class="md-raised md-primary" ng-click="vm.gerarRelatorio()">
                  <md-icon>
                    &#xE876;
                  </md-icon>
                  Gerar relatório
              </md-button>
              <md-button class="md-raised" ng-click="vm.limpar()">
                  <md-icon>
                      &#xE5D5;
                  </md-icon>
                  Limpar
              </md-button>
              <md-button class="md-raised" ui-sref="app.private.home.pagina-inicial">
                  <md-icon>
                      &#xE5CD;
                  </md-icon>
                  Cancelar
              </md-button>
          </section>
          <!-- footer button-->
      </form>
  </div>
</md-content>
