<div id="title">
    <md-toolbar class=" md-toolbar-tools">
        <h1 class="md-toolbar-tools">{{vm.title}}</h1>
    </md-toolbar>
</div>
<md-content class="box">
    <!-- TELA DE BUSCA -->
    <div class="md-padding">
        <form name="formPesquisaParticipante">
            <!-- conteudo -->
            <div layout="row" layout-xs="column">
                <md-input-container flex=50 class="md-icon-float md-block">
                    <label>
                        Nome
                    </label>
                    <md-icon>&#xE8A6;</md-icon>
                    <input type="text" ng-model="vm.filtro.nome" name="nome" md-maxlength="50" maxlength="50"/>
                    <div ng-messages="formPesquisaParticipante.nome.$error">
                        <div ng-message="md-maxlength">Mínimo ou igual à 50 caracter</div>
                    </div>
                </md-input-container>
                <md-input-container flex class="md-icon-float md-block">
                    <label>
                        E-mail
                    </label>
                    <md-icon>&#xE0BE;</md-icon>
                    <input type="text" ng-model="vm.filtro.email"  md-maxlength="50" maxlength="50"/>
                    <div ng-messages="formPesquisaParticipante.nome.$error">
                        <div ng-message="md-maxlength">Mínimo ou igual à 50 caracter</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container flex="70" class=" md-icon-float md-block">
                    <label>
                        Cargo
                    </label>
                    <md-icon>&#xE8F8;</md-icon>
                    <input name="cargo" type="text" ng-model="vm.filtro.cargo" md-maxlength="250" maxlength="250" />
                </md-input-container>

                <md-input-container flex class="md-icon-float md-block">
                    <label>
                        Telefone
                    </label>
                    <md-icon>&#xE0CF;</md-icon>
                    <input name="telefone" type="text" ng-model="vm.filtro.tel" mask="(99) 9?9999-9999"/>
                    <custom-validator-messages input-name="telefone" custom-message-mask="Telefone inválido"></custom-validator-messages>
                </md-input-container>
            </div>
            <!-- conteudo -->
            <!-- footer button-->
            <section class="md-padding action" layout="row" layout-align="end center" layout-wrap>
                <md-button class="md-raised md-primary" ng-click="vm.pesquisar(resultadoBusca)" >
                    <md-icon>&#xE8B6;</md-icon> Pesquisar
                </md-button>
                <md-button class="md-raised" ng-click="vm.limpar()"><md-icon>&#xE5D5;</md-icon> Limpar</md-button>
                <md-button class="md-raised" ui-sref="app.private.home.pagina-inicial" type="submit"><md-icon>&#xE5CD;</md-icon> Cancelar</md-button>
            </section>
            <!-- footer button-->
        </form>
    </div>
    <!-- resultado da busca -->
    <div id="result-pesquisa" class="md-padding" ng-if="vm.dto.list.length > 0">
        <!-- tabela css angular material -->
        <div class="table-responsive-vertical shadow-z-1">
            <!-- Table starts here -->
            <table id="table" class="table table-hover table-mc-light-green">
                <thead>
                <tr>
                    <th class="text-center">Ações</th>
                    <th>Nome<paginacao-sorting dto="vm.dto" field-name="no_participante_externo" ng-click="vm.trocaOrdenacao()"></paginacao-sorting></th>
                    <th>Cargo<paginacao-sorting dto="vm.dto" field-name="no_cargo" ng-click="vm.trocaOrdenacao()"></paginacao-sorting></th>
                    <th>E-mail<paginacao-sorting dto="vm.dto" field-name="no_email" ng-click="vm.trocaOrdenacao()"></paginacao-sorting></th></th>
                    <th>Telefone<paginacao-sorting dto="vm.dto" field-name="nuTelefone" ng-click="vm.trocaOrdenacao()"></paginacao-sorting></th></th>
                </tr>
                </thead>
                <tbody>

                <tr dir-paginate="item in vm.dto.list | itemsPerPage: vm.dto.pageSize" current-page="vm.dto.currentPage" total-items="vm.dto.totalResults">
                    <td class="text-center">
                        <md-menu>
                            <md-button class="md-icon-button" aria-label="Favorite" ng-click="appCtrl.openMenu($mdOpenMenu, $event)">
                                <md-tooltip md-direction="left">
                                    Ações
                                </md-tooltip>
                                <md-icon class="icon-white">&#xE8B8;</md-icon>
                            </md-button>

                            <md-menu-content width="1">
                                <md-menu-item>
                                    <md-button ng-click="vm.editar(item)" title="{{item.nome}}">
                                        <md-icon>&#xE22B;</md-icon>
                                        Editar
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="showConfirm($event, item)">
                                        <md-icon>&#xE92B;</md-icon>
                                        Remover
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </td>
                    <td>{{ item.nome }}</td>
                    <td>{{ item.cargo }}</td>
                    <td>{{ (item.email != "" && item.email != '' && item.email != null) ? item.email : "Não informado"}}</td>
                    <td>{{ (item.tel != 0 && item.tel != null) ? (item.tel | mask:"(99) 9?9999-9999") : ("Não Informado")}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <dir-pagination-controls layout layout-align="center" boundary-links="true" on-page-change="vm.changePage(newPageNumber)" template-url="modules/core/directives/paginacao/paginacao-view.html" layout-align="center center" class="dir-pagination-controls">
        </dir-pagination-controls>
        <!-- tabela css angular material -->
    </div>

    <!-- resultado da busca -->
    <!-- TELA DE BUSCA -->
</md-content>