<div id="title">
    <md-toolbar class=" md-toolbar-tools">
        <h1 class="md-toolbar-tools">{{vm.title}}</h1>
        <span flex></span>
        <md-button class="md-fab md-mini md-acoes" aria-label="Use Android" ng-click="vm.help($event)">
            <md-tooltip md-direction="left">
                Ajuda
            </md-tooltip>
            <md-icon>&#xE8FD;</md-icon>
        </md-button>
    </md-toolbar>
</div>
<md-content class="box">
    <div class="md-padding">
        <form name="formRemetente" novalidate ng-submit="!formRemetente.$invalid && vm.salvar(vm.remetente)">
            <div layout="row" layout-xs="column">
                <md-input-container flex="50" flex-xs="100" class="md-icon-float md-block">
                    <label>
                        Nome
                    </label>
                    <md-icon>&#xE8A6;</md-icon>
                    <input type="text" ng-model="vm.remetente.noRemetente" name="nome" ng-required="true" md-maxlength="50" maxlength="50" />
                    <custom-validator-messages input-name="nome" ></custom-validator-messages>
                </md-input-container>
                <md-input-container flex="50" flex-xs="100" class="md-icon-float md-block">
                    <label>
                        E-mail
                    </label>
                    <md-icon>&#xE0BE;</md-icon>
                    <input name="email" type="email" ng-model="vm.remetente.noEmail"  md-maxlength="50" required/>
                    <custom-validator-messages input-name="email" ></custom-validator-messages>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
              <md-input-container flex="70" flex-xs="100" class=" md-icon-float md-block">
                  <label>
                      Cargo
                  </label>
                  <md-icon>&#xE8F8;</md-icon>
                  <input name="cargo" type="text" ng-model="vm.remetente.noCargo" required md-maxlength="250" maxlength="250" />
                  <custom-validator-messages input-name="cargo" ></custom-validator-messages>
              </md-input-container>

                <md-input-container flex class="md-icon-float md-block">
                    <label>
                        Telefone
                    </label>
                    <md-icon>&#xE0CF;</md-icon>
                    <input name="telefone" type="text" ng-model="vm.remetente.nuTelefone" mask="(99) 9?9999-9999" required="true" />
                    <custom-validator-messages input-name="telefone" ></custom-validator-messages>
                </md-input-container>
            </div>

            <section class="md-padding action" layout="row" layout-align="end center" layout-wrap>
                <md-button class="md-raised md-primary" ng-disabled="vm.showBtnSalvar()" type="submit"><md-icon>&#xE161;</md-icon> Salvar</md-button>
                <md-button class="md-raised" ng-click="vm.limpar()"><md-icon>&#xE5D5;</md-icon> Limpar</md-button>
                <md-button class="md-raised" ui-sref="app.public.home.pagina-inicial" type="submit"><md-icon>&#xE5CD;</md-icon> Cancelar</md-button>
            </section>
        </form>
    </div>
</md-content>
