<div>
    <md-sidenav
      class="md-sidenav-left md-whiteframe-z1"
      ng-mouseenter="setFocus()"
      ng-mouseleave="removeFocus()"
      ng-class="{ aberto: showFullWidth(), fechado: !showFullWidth()}"
      md-component-id="menu"
      md-is-locked-open="$mdMedia('gt-md')">
      <md-content class="sidnav-menu-scroll" role="navigation" id='menu'>
            <ul class="side-menu">
                <li ng-repeat="section in sections"
                    class="parent-list-item"
                    ng-click="sectionIndice($index)">
                    <div ng-switch="section.type">
                        <menu-link section="section" ng-switch-when="link"></menu-link>
                        <menu-toggle section="section" section-selected="$index"
                                     ng-switch-when="toggle"></menu-toggle>
                    </div>
                </li>
            </ul>
        </md-content>
    </md-sidenav>
</div>
