<div id="title">
    <md-toolbar class=" md-toolbar-tools">
        <h1 class="md-toolbar-tools">
            {{vm.title}}
        </h1>
    </md-toolbar>
</div>
<md-content class="box">
    <div class="md-padding header-info" layout="row" layout-xs="column"  layout-align="end center">
        <strong>Autoridade: &nbsp;</strong> {{vm.autoridade}}
    </div>
<!-- TELA DE CADASTRO -->
    <div class="md-padding">

        <form name="formConvite" ng-submit="vm.salvar(vm.convite)">
            <!-- conteudo -->

            <div layout="row" layout-xs="column">
                <md-input-container flex>
                    <label>
                        Data início
                    </label>
                    <input mdc-datetime-picker date="true" time="true" type="text" name="idDataInicio" short-time="true"
                            min-date="minDate"
                            required
                            format="DD/MM/YYYY HH:mm a"
                            ng-model="vm.convite.dtInicioEvento">
                    <custom-validator-messages input-name="idDataInicio" ></custom-validator-messages>
                </md-input-container>
                <md-input-container flex>
                    <label>
                        Data final
                    </label>
                    <input mdc-datetime-picker date="true" time="true" type="text" name="idDataFim" short-time="true"
                            min-date="minDate"
                            required
                            format="DD/MM/YYYY HH:mm a"
                            ng-model="vm.convite.dataFimEvento">
                    <custom-validator-messages input-name="idDataFim" ></custom-validator-messages>
                </md-input-container>
                <md-input-container flex>
                    <label>
                        Data de cadastro
                    </label>
                    <input mdc-datetime-picker date="true" time="true" type="text" name="dataCadastramento" short-time="true"
                            min-date="minDate"
                            required
                            format="DD/MM/YYYY HH:mm a"
                            ng-model="vm.convite.dtCadastro">
                    <custom-validator-messages input-name="dtCadastro" ></custom-validator-messages>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-autocomplete
                        flex
                        md-no-cache="true"
                        md-selected-item="vm.convite.remetente"
                        md-input-name="remetente"
                        md-search-text="vm.convite.remetenteLocal"
                        md-items="item in vm.procurarRemetente(vm.convite.remetenteLocal)"
                        md-item-text="item.noRemetente"
                        md-min-length="3"
                        required="true"
                        md-match-case-insensitive="true"
                        md-floating-label="Remetente"
                        md-icon="&#xE8A6">
                    <md-item-template>
                        <span md-highlight-text="vm.remetenteLocal" md-highlight-flags="^i">{{item.noRemetente}}</span>
                    </md-item-template>
                    <md-not-found>
                        Nenhum local de evento "{{vm.convite.textoLocal}}" foi encontrado
                    </md-not-found>
                </md-autocomplete>
                <!--<md-input-container flex class="md-icon-float md-block">
                    <label>
                        Remetente
                    </label>
                    <md-icon>
                        &#xE8A6;
                    </md-icon>
                    <input type="text" ng-model="vm.convite.remetente" name="remetente" required md-maxlength="50"/>
                    <custom-validator-messages input-name="remetente" ></custom-validator-messages>
                </md-input-container>-->
            </div>
            <div class="row">
                <md-radio-group ng-model="vm.convite.flEventoInternacional">
                    <md-input-container>
                        <md-radio-button value="Evento nacional" class="md-primary">Evento nacional</md-radio-button>
                    </md-input-container>
                    <md-input-container>
                        <md-radio-button value="Evento internacional" class="md-primary">Evento internacional</md-radio-button>
                    </md-input-container>
                </md-radio-group>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container flex class="md-icon-float md-block" ng-if="vm.convite.flEventoInternacional === 'Evento internacional'">
                    <label>
                        País
                    </label>
                    <md-icon>
                        &#xE55B;
                    </md-icon>
                    <input type="text" ng-model="vm.convite.pais" name="pais" required md-maxlength="150"/>
                    <custom-validator-messages input-name="pais" ></custom-validator-messages>
                </md-input-container>
                <md-input-container flex class="md-icon-float md-block" ng-if="vm.convite.flEventoInternacional === 'Evento internacional'">
                    <label>
                        Cidade
                    </label>
                    <md-icon>
                        &#xE7F1;
                    </md-icon>
                    <input name="cidade" type="text" ng-model="vm.convite.cidade" required md-maxlength="150"/>
                    <custom-validator-messages input-name="cidade" ></custom-validator-messages>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column" ng-if="vm.convite.flEventoInternacional === 'Evento nacional'">

                <md-autocomplete
                        flex
                        md-no-cache="true"
                        md-selected-item="vm.convite.idLocalidade"
                        md-input-name="noLocalidade"
                        md-search-text="vm.convite.textoLocal"
                        md-items="item in vm.procurarLocal(vm.convite.textoLocal)"
                        md-item-text="item.localidadesUf"
                        md-min-length="3"
                        required="true"
                        md-floating-label="Local do evento">
                    <md-item-template>
                        <span md-highlight-text="vm.textoLocal" md-highlight-flags="^i">{{item.localidadesUf}}</span>
                    </md-item-template>
                    <md-not-found>
                        Nenhum local de evento "{{vm.convite.textoLocal}}" foi encontrado
                    </md-not-found>
                </md-autocomplete>
            </div>
            <div class="row">
                <md-input-container class="md-block" flex-xs="100">
                    <label>
                        Despacho
                    </label>
                    <textarea ng-model="vm.convite.despacho" md-maxlength="150" rows="3" md-select-on-focus>
                    </textarea>
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container>
                    <h3 class="toolbar-edit-textarea">
                        Descrição
                    </h3>
                    <div text-angular ng-model="vm.convite.descricao" layout="column" required name="textDescricao"></div>
                    <custom-validator-messages input-name="textDescricao" ></custom-validator-messages>
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container>
                    <h3 class="toolbar-edit-textarea">
                        Observação
                    </h3>
                    <div text-angular ng-model="vm.convite.observacao" layout="column" required name="txaObservacao"></div>
                    <custom-validator-messages input-name="txaObservacao" ></custom-validator-messages>
                </md-input-container>
            </div>
            <section class="md-padding action" layout="row" layout-align="end center"
            layout-wrap>
                <md-button class="md-raised md-primary" ng-disabled="vm.showBtnSalvar()" type="submit">
                    <md-icon>
                        &#xE161;
                    </md-icon>
                    Salvar
                </md-button>
                <md-button class="md-raised" ng-click="vm.limpar()">
                    <md-icon>
                        &#xE5D5;
                    </md-icon>
                    Limpar
                </md-button>
                <md-button class="md-raised" ui-sref="app.public.home.pagina-inicial">
                    <md-icon>
                        &#xE5CD;
                    </md-icon>
                    Cancelar
                </md-button>
            </section>
        </form>
    </div>
    <!-- TELA DE CADASTRO -->
</md-content>
